<!doctype html>
<html lang="en-us" ng-app>
<head>
	<style>
	*{
		font-size: 32px;
		font-family: "segoe ui";
	}

	</style>
	<script src="angular.js"></script>

</head>

<body>
<p>This is my first app using angularJS framwork<br />
    <a href="https://github.com/malikasinger/angularJS-hello-world-program">
    check this project on github</a>
    &nbsp&nbspor&nbsp&nbsp
    <a href="http://facebook.com/malikasinger">Meet me on facebook</a>
</p>
	<input placeholder="your name here" type="text" ng-model="name">
	<br />
	<input placeholder="your father name here" type="text" ng-model="fname">
	<br />
	<input placeholder="your age here" type="number" ng-model="age">
	<br />

	<p>your name is: &nbsp <i>{{ name }}</i>            </p>
	<p>your father name is: &nbsp <i>{{ fname }}</i>    </p>
	<p>your age is: &nbsp <i>{{ age }}</i>              </p>



</body>

</html>
