<!doctype html>
<html lang="en-us" ng-app>
<head>
	<style>
	*{
		font-size: 32px;
		font-family: "segoe ui";
	}

	</style>
	<script src="angular.js"></script>

</head>

<body>
<p>this is my first app using angularJS framwork</p>
	<input placeholder="your name here" type="text" ng-model="name">
	<br />
	<input placeholder="your father name here" type="text" ng-model="fname">
	<br />
	<input placeholde="your age" type="number" ng-model="age">
	<br />

	<p>your name is: &nbsp {{ name }} </p>
	<p>your father name is: &nbsp {{ fname }} </p>
	<p>your age is: &nbsp {{ age }} </p>



</body>

</html>
